.text-type {
    display: inline-block;
    white-space: pre-wrap;
    letter-spacing: .1rem;
  }
  
  .text-type__cursor {
    display: inline-block;
    margin-left: 0.25rem;
    /* The GSAP library handles the blinking, but this can be a fallback */
    animation: blink 0.7s infinite;
  }
  
  .text-type__cursor--hidden {
    display: none;
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }